<h1>README</h1>

<p>This repository contains the implementation of the algorithm for constructing unlabelled lattices that is described in the paper <a href="http://arxiv.org/abs/1609.08255">V. Gebhardt, S. Tawn: Constructing unlabelled lattices, J. Algebra 545 (2020), 213-236</a>.  Please cite the above paper when publishing work that uses this code or results obtained with it.</p>

<p>Contact:  v.gebhardt@westernsydney.edu.au</p>

<h2>BUILD INSTRUCTIONS</h2>

<p>A basic Makefile is provided; adjust to your needs as required.  Additional flags can be defined by setting the variable CFLAGS; for example, the command for running make with the symbol TARGET_COUNT defined is &ldquo;make CFLAGS=-DTARGET_COUNT&rdquo;.</p>

<h3>BUILD TARGETS</h3>

<p>Exactly one build target must be specified by defining one of the following symbols:</p>

<ul>
<li>TARGET_COUNT &ndash; The number of lattices is printed to stdout.</li>
<li>TARGET_CATALOGUE &ndash; A line encoding the above-diagonal part of the covering matrix is printed to stdout for each lattice.</li>
</ul>


<h3>Modifiers</h3>

<p>The behaviour of the enumeration can be determined at compile time by defining the following symbols:</p>

<ul>
<li>THREADED &ndash; Multithreaded enumeration using pthreads.  (The master initially enumerates lattices up to size N-DELTAN; each of these lattices is passed to a slave.  Once slaves are idle, the enumeration is completed in a second stage in which the master enumerates lattices up to size N-DELTAN+DDELTAN.)</li>
<li>FILTER_INDECOMPOSABLE &ndash; Only vertically indecomposable lattices are enumerated.</li>
<li>FILTER_GRADED &ndash; Only graded lattices are enumerated.</li>
</ul>

